:root {
  --text-title-color: #212121;
  --button-color: #2196f3;
  --text-color: #757575;
  --wight-text: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
}
.page-header {
  background-color: var(--wight-text);
}
.logo {
  font-family: "Raleway";
  font-style: 400px;
  font-size: 26px;
  line-height: 1.2;
  color: var(--button-color);
  text-decoration: none;
}
.logo-accent {
  color: var(--text-title-color);
}
.site-pages {
  color: var(--text-title-color);
  list-style: none;
}
.navigation-link {
  font-style: 400px;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-title-color);
  text-decoration: none;
}
.studio {
  color: var(--button-color);
}
.navigation-link:hover {
  color: var(--button-color);
}
.contact-info {
  list-style: none;
}
.email,
.phone-number {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color);
}
.email:hover {
  color: var(--button-color);
}

.phone-number:hover {
  color: var(--button-color);
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--wight-text);
  text-transform: uppercase;
}
.button-primary {
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  border: none;
  color: var(--wight-text);
  background-color: var(--button-color);
  cursor: pointer;
}
.button-primary:focus,
.button-primary:hover {
  background-color: #188ce8;
  color: var(--wight-text);
}
.features {
  font-style: 400;
}
.feature-list {
  list-style: none;
}
.features-title {
  font-size: 36px;
  line-height: 1.2;
  color: var(--text-title-color);
}
.feature-name {
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-title-color);
  text-transform: uppercase;
}
.feature-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.work-title {
  font-size: 36px;
  line-height: 1.2;
  color: var(--text-title-color);
}
.work-example {
  list-style: none;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: 1.2;
  color: var(--text-title-color);
}
.team-introduction {
  list-style: none;
}
.name {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-title-color);
}
p {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}
.footer {
  background-color: #2f303a;
}
.logo-accent-footer {
  color: var(--wight-text);
  font-weight: 700;
}
address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--wight-text);
}
.footer-address {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* Портфолио */
.link-portfolio {
  color: var(--button-color);
}
.email-portfolio {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
}
.email-portfolio:hover {
  color: var(--button-color);
}
.button-list {
  list-style: none;
}
.button-portfolio {
  font-size: 16px;
  line-height: 1.6;
  border: none;
  text-align: center;
  color: var(--text-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.all {
  color: var(--wight-text);
  background-color: var(--button-color);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--wight-text);
  background-color: var(--button-color);
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.2;
  color: var(--text-title-color);
}
.portfolio-introduction {
  list-style: none;
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
